body * {
  font: 16px 'Heebo', sans-serif;
}

.container {
  padding: 20px;
  display: flex;
  flex-flow: column;
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .inputDiv {
      label {
        font-weight: 800;
      }
      input {
        font-weight: 500;
        padding-left: 5px;
        margin-left: 10px;
      }
    }

    button {
      border: 3px black solid;
      cursor: pointer;
      font-weight: 800;
      padding: 15px;
    }
  }
}
